html {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 95vh;
  margin: 0;
  padding: 0;
  background-color: #fce0ee;
  text-align: center;
}

h1 {
	font-family: 'Monoton', cursive;
	margin: 16px;
	font-size: 40px;
}